*{
  margin: 0%;
  padding: 0%;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.signUpPage {
 width: 100%;  
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
 
}
.title-signUp{
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-weight: bolder;
  width: 100%;
  text-align: left;
  border-radius: 1rem;
  margin-bottom: 2rem;
  font-family:sans-serif;
     cursor: pointer;
}
.dob-title{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0.5rem;
}
.dob-content{
  font-size: 1rem;
}
.signUp-user-main {
 
}
.name-title-signUp {
  width: 100%;
}

.signup-title-2-user {
  font-size: 2rem;
  color: black;
  margin: 0.5rem;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.useEmail{
  float: left;
  color: blue;
  cursor: pointer;
}
.form-signUp {
  align-items: center;
  padding: 1rem 3rem;
  width: 70%;
  min-height: 55vh;
 margin-left:15% ;
 border-radius: 2rem;
 background-color: whitesmoke;
 margin-top: 2rem;

}
form {
  padding: 2px 5px;
}
div {
  padding: 2px 5px;
}
.date{
  margin-top: -1rem;
}
h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: -1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.sup-login{
  color: blue;
}
.input-signUp {
  width: 100%;
  font-size: 15px;
  border-radius: 0 5px 0 0;
  padding: 2px 5px;
  box-sizing: border-box;
  margin: 5px 0px 1rem;
  height: 3rem;
}

input:focus {
  background-color: rgb(184, 225, 197);
}

.btn {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.signUp-btn{
 
  font-size: 20px;
  border-radius: 7px;
  font-weight: bolder;
  padding: 3px 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 1rem;
}

.input2 {
  
  width: 45%;
  float: right;
}
.input1 {
 
  width: 45%;
  float: left;
}



.sup-login {
  color: rgb(14, 29, 190);
  font-size: 1.1rem;
  font-weight: bold;
}


.foot-signUp {
  margin-top: 0.5rem;
  text-align: center;
}
.dob-title{
  margin-top: 1rem;
}
.dob-content{
  font-size: 0.8rem;
  font-weight: bold;
  font-family: sans-serif;
  text-align: left;
}
.foot-signUp>p{
  font-size: 1rem;
}
.form-alert-signUp{
  font-size: 0.9rem;
  text-align: center;
  margin-top: -0.8rem;
}
.terms-label{
font-size: 1rem;
}
.remember-signUp{
  width: 100%;

  height: 2rem;
  margin-top: 24rem;
}

.foot-signUp{
  width: 100%;
  text-align:justify;
  font-size: 1.1rem;
  font-weight: bold
}


@media screen and (max-width: 1200px) {
  .signUpPage {
    padding-top: 1rem;
 
  }
  .signUp-user-main {
    padding-top: 6%;
 
  }
  .title-signUp {
    font-size: 2.2rem;
  }
  .signup-title-2 {
    font-size: 1.7rem;

  }
  .form-signup {
    padding: 0.5rem 2rem;
    width: 80%;

  }
  .dob-title{
    font-size: 1.8rem;
    margin-top: 0.5rem;
  }
  .dob-content{
    font-size: 0.7rem;
  }

  form {
    padding: 5px;
  }
  div {
    padding: 5px;
  }

  .textlabel {
    font-size: 15px;

    margin-top: 1rem;
  }
  .input-signUp {
    width: 100%;
    font-size: 15px;
    padding: 2px 5px;
    margin: 5px 0px 2px;
    height: 2.5rem;
  }

  .signUp-btn {
    font-size: 17px;
    border-radius: 7px;
    padding: 5px 6px;
    margin-left: 1rem;
  }
  .signUp-btn:hover {
    font-size: 18px;
  
  }


  .sup-login {
    font-size: 1.1rem;
    font-weight: bold;
  }

  

  .foot-signUp {
    margin-top: 0rem;
  }
  .terms-label{
    font-size: 0.9rem;
    }
    .foot-signUp{
      width: 100%;
     
      font-size: 1rem;
    
    }
    .sup-login {
      font-size: 1rem;
    }
    
    .sup-login:hover {
      font-size: 1.1rem;
    }
    .remember-signUp{
      margin-top: 22rem;
    }
}

@media screen and (max-width: 1000px) {
  .signUpPage {
    padding-top: 4rem;
    margin-top: -4rem;
  }
  .dob-title{
    font-size: 1.6rem;
    margin-top: 0.5rem;
  }
  .dob-content{
    font-size: 0.65rem;
  }
  .signUp-user-main {
    padding-top: 6%;
  }
  .title-signUp {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .signup-title-2 {
    font-size: 1.5rem;
  }
  .form-signup {
    padding: 0.5rem 2rem;
    width: 80%;
margin-left: 10%;
  }

  form {
    padding: 5px;
  }
  div {
    padding: 5px;
  }
  h1 {
    margin-top: -1rem;
  }
  .textlabel {
    font-size: 13px;

    margin-top: 1rem;
  }
  .input-signUp{
    width: 100%;
    font-size: 15px;
    padding: 2px 5px;
    margin: 5px 0px 2px;
    height: 2.4rem;
  }

  .signUp-btn {
    font-size: 17px;
    border-radius: 7px;
    padding: 5px 6px;
    margin-left: 1rem;
  }


  .signUp-btn:hover {
     font-size: 18px;
  }
  .sup-login {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .sup-login:hover {
    color: rgb(186, 53, 53);
    font-size: 1.2rem;
  }
  .terms-label{
    font-size: 0.8rem;
    }
    .foot-signUp{
      width: 100%;
     
      font-size: 0.8rem;
    
    }
    .sup-login {
      font-size: 0.9rem;
    }
    
    .sup-login:hover {
      font-size: 1rem;
    }
    .remember-signUp{
      margin-top: 21rem;
    }
}

@media screen and (max-width: 850px) {
  .signUpPage {
    padding-top: 5rem;
    margin-top: -4rem;

  }
  .dob-title{
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  .dob-content{
    font-size: 0.6rem;
  }
  .signUp-main {
    padding-top: 4%;
  }
  .title-signUp {
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .signup-title-2 {
    font-size: 1.2rem;
    

    margin: 0.5rem;


  }
  .form-signup {
    padding: 0.5rem 2rem;
    width: 80%;
    margin-left: 10%;
  }

  form {
    padding: 2px;
  }
  div {
    padding: 2px;
  }
  h1 {
    margin-top: -1rem;
  }
  .textlabel {
    font-size: 11px;
    margin-top: 1rem;
  }
  .input-signUp {
    width: 100%;
    font-size: 15px;
    padding: 2px 5px;
    margin: 3px 0px 2px;
    height: 2.3rem;
  }



  .signUp-btn {
    font-size: 14px;
    border-radius: 7px;
    padding: 5px 6px;
    margin-left: 1rem;
  }
  .signUp-btn:hover {
    font-size: 15px;
 }
 
  .sup-login {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .sup-login:hover {
    color: rgb(186, 53, 53);
    font-size: 1.2rem;
  }

  .form-alert-signUp{
    font-size: 0.7rem;
    text-align: center;
    margin-top: -0.8rem;
  }
  .terms-label{
    font-size: 0.7rem;

    }
    .foot-signUp{
      width: 100%;
     
      font-size: 0.7rem;
    
    }
    .sup-login {
      font-size: 0.8rem;
    }
    
    .sup-login:hover {
      font-size: 0.9rem;
    }
    .remember-signUp{
      margin-top: 19rem;
    }
}


@media screen and (max-width: 650px) {
  .signUpPage {
    padding-top: 5rem;
    margin-top: -4rem;
 
  }
  .dob-title{
    font-size: 1.4rem;
    margin-top: 0.5rem;
  }
  .dob-content{
    font-size: 0.58rem;
  }
  .signUp-main {
    padding-top: 6%;

  }
  .title-signUp {
    font-size: 1.9rem;
  
    margin-top: 1rem;
  }
  .signup-title-2 {
    font-size: 1.2rem;
    margin: 0.5rem;
 

  }
  .form-signup {
    padding: 0.5rem 2rem;
    width: 80%;
    height: 50%;
  }
  .dob-title{
    font-size: 1.3rem;
    margin-top: 0.5rem;
  }
  .dob-content{
    font-size: 0.65rem;
  }
  form {
    padding: 2px;
  }
  div {
    padding: 2px;
  }
  h1 {
    margin-top: -1rem;
  }
  .textlabel {
    font-size: 10px;
    margin-top: 1rem;
  }
  .input-signUp-user {
    width: 100%;
    font-size: 15px;
    padding: 2px 5px;
    margin: 5px 0px 2px;
    height: 2.2rem;
  }



  .signUp-btn {
    font-size: 14px;
    border-radius: 7px;
    padding: 5px 6px;
    margin-left: 1rem;
  }
  .signUp-btn:hover {
    font-size: 15px;
 }
 
  .sup-login {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .sup-login:hover {
    color: rgb(186, 53, 53);
    font-size: 1rem;
  }

  .form-alert-signUp{
    font-size: 0.6rem;
    text-align: center;
    margin-top: -0.8rem;
  }
  .terms-label{
    font-size: 0.6rem;
    }
    .foot-signUp{
      width: 100%;
     
      font-size: 0.6rem;
    margin-left: -1rem;
    }
    .sup-login {
      font-size: 0.8rem;
    }
    
    .sup-login:hover {
      font-size: 0.9rem;
    }
    .remember-signUp{
      margin-top: 18rem;
    }
}


@media screen and (max-width: 500px) {
  .signUpPage {
    padding-top: 5rem;
    margin-top: -4rem;

  }
  .signUp-main {
    padding-top: 6%;

  }
  .dob-title{
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
  .dob-content{
    font-size: 0.6rem;
  }
  .title-signUp {
    font-size: 1.8rem;
    
    margin-top: 1rem;


  }
  .signup-title-2 {
    font-size: 1rem;
    
    margin: 0.5rem;
  
    width: 100%;
  }
  .form-signup {
    padding: 0.2rem 1rem;
    height: 80%;
    width: 80%;

  }


  
  h1 {
    margin-top: -1rem;
  }
  .textlabel {
    font-size: 10px;
   
  }
  .input-signUp {
    width: 100%;
    font-size: 15px;
    padding: 5px 5px;
    margin: 5px 0px 2px;
    height: 2.5rem;
  }



  .signUp-btn {
    font-size: 14px;
    border-radius: 7px;
    padding: 3px 6px;
    margin-left: 1rem;
  }
  .signUp-btn:hover {
    font-size: 15px;
 }
 
  .sup-login {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .sup-login:hover {
    color: rgb(186, 53, 53);
    font-size: 1rem;
  }

  .form-alert-signUp{
    font-size: 0.6rem;
    text-align: center;
    margin-top: -0.8rem;
  }
  .terms-label{
    font-size: 0.5rem;
    }

    .sup-login {
      font-size: 0.7rem;
    }
    
    .sup-login:hover {
      font-size: 0.8rem;
    }
    .remember-signUp{
      margin-top: 14rem;
    }
    .foot-signUp{
      width: 120%;
     
      font-size: 0.6rem;
    margin-left: -3rem;
    }
}

@media screen and (max-width: 450px) {
  .signUpPage {
    padding-top: 2rem;
    margin-top: -4rem;
    min-height: 80vh;
  }
  .title-signUp {
    font-size: 1.5rem;

    margin-top: 0rem;

  }
  .dob-title{
    font-size: 1.1rem;
    margin-top: 0.45rem;
  }
  .dob-content{
    font-size: 0.6rem;
  }
  .signup-title-2 {
    font-size: 1rem;
    margin: 1rem;
  }
  .signUp-user-main {
    
  }
  .form-signup-user {
    padding: 0.2rem 1rem;
    margin-top: 2rem;
 
  }

  .input-signUp-user {
    
    height: 2.5rem;
  }

}
@media screen and (max-width: 400px) {
  .signUpPage {
    padding-top: 5rem;
    

  }
  .signUp-main {
    padding-top: 2%;

  }
  .title-signUp{
    font-size: 1.5rem;

    margin-top: 0rem;

  }
  .signup-title-2 {
    font-size: 1rem;
    margin: 1rem;
  }
  .form-signup {
    padding: 0.2rem 0;
    margin-left: 10%;
    width: 80%;
    height: 60%;
    padding: 1rem;
  }

  form {
    padding: 2px;
  }
  div {
    padding: 2px;
  }
  h1 {
    margin-top: -1rem;
  }
  .textlabel {
    font-size: 10px;
   
  }
  .input-signUp {
    width: 100%;
    font-size: 15px;
    padding: 2px 5px;
    margin: 5px 0px 2px;
    height: 1.5rem;
  }



  .signUp-btn {
    font-size: 14px;
    border-radius: 7px;
    padding: 2px 6px;
    margin-left: 1rem;
  }
  .signUp-btn:hover {
    font-size: 15px;
 }
 
  .sup-login {
    font-size: 1.1rem;
    font-weight: bold;
  }

  .sup-login:hover {
    color: rgb(186, 53, 53);
    font-size: 1rem;
  }

  .form-alert-signUp{
    font-size: 0.6rem;
    text-align: center;
    margin-top: -0.8rem;
  }
  .terms-label{
    font-size: 0.5rem;
    }

    .sup-login {
      font-size: 0.7rem;
    }
    
    .sup-login:hover {
      font-size: 0.8rem;
    }
    .remember-signUp{
      margin-top:13rem;
    }
    .foot-signUp{
      width: 120%;
     
      font-size: 0.6rem;
    margin-left: -2rem;
    }
    .input-signUp {
    
      height: 2.5rem;
    }
  
}
